body {background-color: #0833BE;}
h1 {color: #261B1B; font-family: Helvetica; font-size: 80px;}
p {color: #FEFEFE ; font-family: fantasy; font-size: 50px;} 
img {margin-left: 100px;border-color: #010B7E ;border-style: solid;}
ul{color: #00FFF7;}
a {color: #00FFF7;text-decoration: none;}
a:hover {color: darkred;text-decoration: underline;}