body {background-color: #F7C2A4;}
H1 {color: #261B1B; font-family: Helvetica; font-size: 40px;}
p {color: #107E01 ; font-family: fantasy; font-size: 15px;} 
img {margin-left: 100px;border-color: #010B7E ;border-style: solid;}
ul{color: #00FFF7;}
a {color: #00FFF7;text-decoration: none;}
a:hover {color: darkred;text-decoration: underline;}